.footer {
  min-height: 30vh;
  background: #1B3C4D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.container h2 {
  color: white;
}
