@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/assets/Unbounded/Unbounded-Regular.woff2') format('woff2'),
  url('/assets/Unbounded/Unbounded-Regular.ttf')format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('/assets/Unbounded/Unbounded-ExtraLight.woff2')format('woff2'),
  url('/assets/Unbounded/Unbounded-ExtraLight.ttf')format('truetype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


* { margin:0; padding:0; box-sizing:border-box; }
html,body { height:100%; background:#fff; }

.custom-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 2px solid #1B3C4D;
  border-radius: 9999px;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  gap: 6px;
  background-color: white;
  width: max-content;
  min-width: 120px;
  max-width: 200px;
  white-space: nowrap;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background-color: #B8C5CE;
  transition: all 0.3s ease;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1B3C4D;
}