@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Headingnowtrial';
  src: url('/fonts/headingnowtrial-96bold.woff2') format('woff2');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}


* {
  scroll-behavior: smooth;
}

* { margin:0; padding:0; box-sizing:border-box; }
html,body { height:100%; background:#F7F7F7; }

.custom-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 6px;
  border: 2px solid #1B3C4D;
  border-radius: 9999px;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  gap: 2px;
  background-color: #F7F7F7;
  width: max-content;
  min-width: 110px;
  max-width: 230px;
  white-space: nowrap;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background-color: #B8C5CE;
  transition: all 0.3s ease;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1B3C4D;
}

@media (max-width: 1023px) {
  .custom-swiper-pagination {
    border: none;
    max-width: 160px;
    gap: 1px;
  }
}

.body-no-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}